.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  max-width: 648px;
  margin: 0 auto 0;  /*убрал 100 сверху т.к. добавил паддинг Фейнману*/
  z-index: 5;
}
