.video__iframe {
  margin: 0;
  z-index: 6;
  width: 515px;
  height: 316px;
  border: none;
}
/* можно не испорльзовать, если раздвинуть фреймы
 как space-between в родителе и задать ширрину контейнера */
/* .video__iframe:nth-of-type(even) {
  margin-left: 20px;
} */
