.video__iframe {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*border: 1px dotted black;*/
  margin: 0;
  z-index: 10;
  /*margin-top: 50px;*/
}
  
.video__iframe:nth-of-type(even) {
  margin-left: 20px;
}