.two-columns__paragraph {
  /*border: 1px dotted red;*/
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.two-columns__paragraph:nth-of-type(even) {
  /*border: 1px dotted red;*/
  margin: 30px auto;
}