.two-columns__brief {
  width: 175px;
  /*border: 1px solid red;*/
  /*визуализация блока.*/
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}