.kaufman {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: white;
}

.kaufman__triangle {
  position: absolute;
    right: -210px;
    top: 0;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  /*border: 1px solid red;*/
  margin-top: 90px;
}

.section_theme_dark-text-color {
  color: white;
}

.table_bottom-margin {
   margin: 0 auto 90px;
}

.table__text_theme_dark {
  width: 200px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 70;
}

.footer {
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-basis: 711px;*/
  justify-content: space-between;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 350px;
  margin: auto;
  /*border: 2px solid white;*/
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  /*border: 1px solid whitesmoke;*/
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  /*align-content: space-between;
  border: 3px solid green;*/
}

.footer__column_content_info, .footer__column_content_social {
  color: white;
  /*border: 2px solid red;*/
}

.footer__column-heading {
  /*border: 2px solid rgb(75, 7, 7);*/
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.logo_place_footer {
  position: initial;
  /*border: 2px dotted violet;*/
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-links {
  margin-top: 20px;
  padding-left: 0;
  /*border: 2px dotted violet;*/
}

.footer__column-link {
  display: flex;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  text-decoration: none;
}

.footer__sotial-icon {
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}

.footer__list-item {
  list-style-type: none;
}