.body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin: auto;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
   top: 64px;
   right: 0;
  z-index: 10;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* классы для шапки по чеку*/
.header__title {
  align-items: center;
  width: 730px;
  z-index: 10;
  margin: auto 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 70;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
 /* background: rgba(255, 255, 255, 0);*/
   }

.header__link {
  text-decoration: none;
  color: #2f80ed; 
  margin: 0;
  /*background: rgba(255, 255, 255, 0);*/
  z-index: 40; 
}

.header__main-illustration {
  position: absolute;
   bottom: 0;
   right: 0;
  z-index: 12;
  width: 765px;
  height: 608px;
}

.logo {
  width: 183px;
  height: 32px;
  /*теоретически -- это не нужный код */
  /*background-repeat: no-repeat;
  background-size: 183px 32px;
  display: flex;
  align-self: flex-start;
  z-index: 6;*/  
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
   top: 30px;
   left: 64px;
  z-index: 7;
}

.description {
  display: flex;
  width: 80%;
  /*border: 1px solid red;*/
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns {
  display: flex;
  justify-content: space-between;
 }

.two-columns__brief {
  width: 175px;
  /*border: 1px solid red;*/  /*визуализация блока.*/
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  /*border: 1px solid green;*/
}

.two-columns__paragraph {
  /*border: 1px dotted red;*/
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.two-columns__paragraph:nth-of-type(2) {
  /*border: 1px dotted red;*/
  margin: 30px auto;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  /*border: 2px solid hotpink;*/
}

.section-title {
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: auto;
  /*border: 1px solid red;*/
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  /*border: 1px dotted green;*/
}

.table {
  /*border: 1px solid red;*/
  display: flex;
  margin: 0 auto 100px;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  /*border: 1px dotted black;*/
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  width: 250px;
  /*border: 1px dotted gray;*/
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  width: 250px;
  /*border: 1px dotted gray;*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  padding: 100px;
  background-color: #f2f2f2;
  min-height: 790px;
  width: 100%;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  width: 648px;
  margin: 0 auto 0;  /*убрал 100 сверху т.к. добавил паддинг Фейнману*/
  z-index: 5;
  /*border: 1px solid red;*/
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 3;
  /*border: 1px solid green;*/
}

.feynman__link {
  position: absolute;
   top: 50%;
   right: 48px;
   font-weight: normal;
   line-height: 51px;
   font-size: 36px;
   text-decoration: none;
   color: black;
}

.kaufman {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: white;
}

.kaufman__triangle {
  position: absolute;
    right: -210px;
    top: 0;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark {
  /*border: 1px solid red;*/
  margin-top: 90px;
}

.section_theme_dark-text-color {
  color: white;
}

.table_bottom-margin {
   margin: 0 auto 90px;
}

.table__text_theme_dark {
  width: 200px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 70;
}

.footer {
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-basis: 711px;*/
  justify-content: space-between;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 350px;
  margin: auto;
  /*border: 2px solid white;*/
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  /*border: 1px solid whitesmoke;*/
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  /*align-content: space-between;
  border: 3px solid green;*/
}

.footer__column_content_info, .footer__column_content_social {
  color: white;
  /*border: 2px solid red;*/
}

.footer__column-heading {
  /*border: 2px solid rgb(75, 7, 7);*/
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.logo_place_footer {
  position: initial;
  /*border: 2px dotted violet;*/
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  margin-block-end: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-links {
  margin-top: 20px;
  padding-left: 0;
  /*border: 2px dotted violet;*/
}

.footer__column-link {
  display: flex;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  text-decoration: none;
}

.footer__sotial-icon {
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}

.footer__list-item {
  list-style-type: none;
}