.body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin: auto;
  /* выше установили ограничения для секции */
}
.header__bg{
  position: absolute;
  background-color: #f2f2f2;
  z-index: -1;
  min-width: 100%;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
   top: 64px;
   right: 0;
  z-index: 10;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* классы для шапки по чеку*/
.header__title{
  align-items: center;
  width: 730px;
  z-index: 10;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  /*background: rgba(255, 255, 255, 0);*/
}

.header__subtitle{
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 70;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
 /* background: rgba(255, 255, 255, 0);*/
   }

.header__link{
  text-decoration: none;
  color: #2f80ed; 
  /*background: rgba(255, 255, 255, 0);*/
  z-index: 40; 
}

.header__main-illustration{
  position: absolute;
   bottom: 0;
   right: 0;
  z-index: 12;
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 765px;
  height: 608px;
}

.logo {
  position: absolute;
   top: 30px;
   left: 64px;
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 183px 32px;
  display: flex;
  align-self: flex-start;
  z-index: 6;
}

.logo_place_header{
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  z-index: 7;
}

.logo_place_footer{

}

.description{
  display: flex;
  width: 80%;
  /*border: 1px solid red;*/
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns{
  /*justify-content: space-between;*/
 }

.two-columns__brief{
  width: 175px;
  /*border: 1px solid red;*/  /*визуализация блока.*/
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  /*border: 1px solid green;*/
}

.two-columns__paragraph{
  /*border: 1px dotted red;*/
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.two-columns__paragraph_spaced{
  margin: 30px auto;
}

.two-columns__span-accent{
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits{
  display: flex;
  flex-wrap: wrap;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  /*border: 2px solid hotpink;*/
}

.section-title{
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: auto;
  /*border: 1px solid red;*/
}

.section-subtitle{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  /*border: 1px dotted green;*/
}

.flextable{
  /*border: 1px solid red;*/
  display: flex;
  margin: 0 auto 100px;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flextable__box{
  /*border: 1px dotted black;*/
  width: 250px;
  margin-top: 60px;
}

.flextable__box_text-title{
  margin: 0;
  width: 250px;
  /*border: 1px dotted gray;*/
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.flextable__box_text-paragraph{
  margin-top: 20px;
  margin-bottom: 0;
  width: 250px;
  /*border: 1px dotted gray;*/
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  min-height: 790px;
  width: 100%;
  margin: auto;
}

.feynman__grid{
  position: relative;
  margin-top: 100px;
  /*border: 2px solid red;*/
  width: 100%;
}

.feynman__img{
  position: absolute;
   bottom: 0;
   left: 0;
  /*z-index: 1;*/
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 867px;
  height: 637px;
}

.feynman__title{
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  width: 648px;
  margin: auto;
  position: relative;
  z-index: 5;
  /*border: 1px solid red;*/
}

.feynman__subtitle{
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 3;
  /*border: 1px solid green;*/
}

.feynman__link{
  position: absolute;
   top: auto;
   bottom: auto;
   right: 48px;
   font-weight: normal;
   line-height: 51px;
   font-size: 36px;
   text-decoration: none;
   color: #2f80ed;
}

.kaufman{
  display: flex;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle{
  position: absolute;
    right: -210px;
    top: 0;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
}

.section-title_theme_dark{
  /*border: 1px solid red;*/
  margin-top: 90px;
}

.section_theme_dark-text-color{
  color: white;
}

.flextable_bottom-margin{
   margin: 0 auto 90px;
}

.flextable__box_text-new-width{
  width: 200px;
}

/* и элемента с модификатором вида ключ-значение */
.flextable__box_theme_dark {
  width: 200px;
  color: white;
  margin-right: 10px;
  margin-top: 80px;
  z-index: 70;
}

.footer{
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-basis: 711px;*/
  justify-content: space-between;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 350px;
  margin: auto;
  /*border: 2px solid white;*/
}

.footer__columns{
  display: flex;
   justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
  /*border: 1px solid whitesmoke;*/
}

.footer__column_content-copyright{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 711px;
  align-content: space-between;
  /*border: 3px solid green;*/
}

.footer__column_content-info{
  /*flex-basis: 711px;*/
  color: white;
  /*border: 2px solid red;*/
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column_content-social, .footer__column-heading{
  /*flex-basis: 711px;*/
  /*border: 2px solid rgb(75, 7, 7);*/
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.logo_place-footer{
  position: initial;
  /*border: 2px dotted violet;*/
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author{
  color: #f2f2f2;
  margin-block-end: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__menu{
  margin-top: 20px;
  /*border: 2px dotted violet;*/
}

.footer__column-links{
  display: flex;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
  text-decoration: none;
}

.footer__sotial-icons{
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}